
form p { position: relative; margin: 0px 0;}
form p label { position: absolute; top: 0; left: 0;}
form p br {display: none;}


form fieldset p input,
form fieldset p textarea {
	display: block;
	padding: 4px;
	width: 100%;
	margin: 0;
}

form fieldset p label {

	display: block;
	margin: 5px 5px 5px 6px;
	padding: 0;
}

form fieldset p textarea,
form fieldset p input {
	border: solid 1px #ccc;
}
form fieldset p label {
	color: #aeaeae;
}
